# Забороняємо прямий доступ до data/
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^data/ - [F,L]
</IfModule>

# Забороняємо доступ до прихованих файлів та PHP поза api/
<FilesMatch "(^\.|\bconfig\.php$)">
    Order allow,deny
    Deny from all
</FilesMatch>
